@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --animate-scroll-x: scroll-x 20s linear infinite;
  --animate-bg-zoom: background-zoom 8s linear infinite;


  @keyframes scroll-x {
    0% {
    }
    100% {
      transform: translateX(-50%);
    }
  }

  @keyframes background-zoom {
    0%,
    100% {
      transform: scale(1.8) translate(0%, 0%);
    }
    25% {
      transform: scale(1.6) translate(-10%, 10%);
    }
    50% {
      transform: scale(1.4) translate(10%, -10%);
    }
    75% {
      transform: scale(1.2) translate(-5%, 5%);
    }
  }
}

* {
  box-sizing: border-box;
}

body {
  overscroll-behavior: none;
  margin: 0;
  padding: 0;
}
